.parent{
    width: 100%;
    background-color:rgb(175, 8, 8);
    height: 700px;
    display: flex;
}

.data_movies{
    width: 50%;
    margin-bottom: 8px;
    background-color: rgb(169, 162, 162);
    height: auto;
}
.data_movies_card{
    width: 50%;
    margin: 8px auto;
    margin-top: 0%;
    font-size: larger;
    border: 2px solid black;
}
.isloading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    font-size: larger;
    border: 3px solid black;
    padding: 20px;
    border-radius: 8px;

}

.parent_page_number{
    display: flex;
    background-color:rgb(169, 162, 162);
    justify-content: center;
}
.list_of_genrs{
    display: grid;
    background-color:rgb(169, 162, 162);
    grid-template-columns: repeat(2,1fr);
    height: 600px;
}