#Header {
    width: 100%;
    height: auto;
    background-color: rgba(58, 58, 50, 0.929);


}


#top_of_header {
    text-align: center;
    height: 50px;
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.Home_text {
    text-decoration: none;
    color: white;
    font-size: larger;
    line-height: 50px;
}

.login_text {
    text-decoration: none;
    font-size: larger;
    line-height: 50px;

}


.serchquery {
    width: 40%;
    line-height: 50px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
}

.header_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}


.text_for_search {
    color: white;
    font-size: large;
    text-decoration: none;

}
.fa{
    margin-top: 4px;
    font-size: 34px;

}

.logo{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
}