.parent_page_number{
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    top: 40px;
    padding: 20px  ;

    background-color: rgba(58, 58, 50, 0.929);
}

#h5{
    margin: 0  8px;
    margin-top: 8px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}